@font-face {
  src: url("Font/BebasNeue-Regular.ttf");
  font-family: "bebas";
}

/* Enlever la marge et le padding  */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* Set du fond d'écran */
body {
  background-color: #1f1f1f;
}

/*Taille du header et des liens */
header {
  width: 100%; /*Gestion de la taille du header*/
  height: 5vw;
  background-color: #1f1f1f;
  border-bottom: solid 1px white;
}
#inner_header {
  background-color: #ffb900;
  width: 38vw;
  transform: skew(40deg);

  margin-left: -2.1vw;
}
#inner_header ul {
  /*Position des liens dans le header pour que cela soit aligné plus une bordure blanche */
  display: flex;
  list-style-type: none;
  width: 33.84vw;
  height: 5vw;
  margin-left: 2vw;
  transform: skew(-40deg);
}
#inner_header li {
  /* Gestion des liens , taille position font etc...*/

  margin-right: 1.5vw;
  margin-top: 1.8vw;
  margin-left: 2.5vw;
  height: 2vw;
  font-size: 1.6vw;
  font-family: "bebas";
  border-bottom: solid 3px transparent;
  transform: scale(1.3, 1.1);
}
#inner_header a {
  color: black;
}
#inner_header li:hover {
  /* Permet de metre un underligne sur les mots en sur-volant*/
  transition: all 0.4s ease-in-out 0s;

  border-bottom: solid 3px black;
}
#inner_header span {
  color: white;
  border-bottom: solid 3px black;
}




/* Fin Header */
.Active{
  background-color: #f5cf09;
  color: black;
  outline: none;
}
#buttons {
  position: absolute;
  right: 15px;
  padding: 10% 10% ;

}

button {
  border: none;
  background: none;
  color: white;
  font-size: 29px;
  display: flex;
  margin-top: 38.4px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 3.84px 38.4px 3.84px 38.4px;
 
}
button:hover {
  transform: scale(1.1);
}


button:focus:hover {
  transform: scale(1);
}
hr {
  float: left;
  margin-top: -153.6px;
  border: none;
  background-color: #f5cf09;
  height: 768px;
  width: 2.18px;
}
#content {
  position: relative;
  height: 1000px;

}
#inner_Content {
  max-width: 1248px;
  margin-right: 38.4px;
  margin-top: 230.4px;
  margin-left: 38.4px;
  float: left;
}

#inner_Content img {
  max-width: 257.28px;
  height: 351.36px;
  float: left;
  margin-left: 28.8px;
  border: solid 2px #f5cf09;
  box-shadow: 5px 10px 5px black;
}
#textContent {
  margin-left: 384px;
}
#nomPersonnage {
  margin-top: -5vw;
  font-family: Arial;
  font-weight: bold;
  color: #ffd600;
  font-size: 96px;
}
#nomActeur {
  margin-bottom: 38.4px;
  margin-left: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19.2px;
}
#nomActeur span {
  color: #f5cf09;
}
#textPersonnage {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28.8px;
  max-width: 768px;
  color: white;
}
#quotePersonnage {
  margin-top: 76.8px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38.4px;
  margin-left: 19.2px;
}
#quotePersonnage span {
  color: #f5cf09;
}
@media screen and (max-width: 1670px) {
  #inner_Content{
    max-width: 1000px;
    margin-left: 0;
  }
}
@media screen and (max-width: 1470px) {
  #inner_Content{
    max-width: 900px;
    margin-left: 0;
  }
}
@media screen and (max-width: 1280px) {
  #footerdiv{
    display: none;
      
  }
  #inner_Content{
    width: 700px;
    
  }
   
  #buttons{
    margin-top: 200px;
  }
  
  

}
@media screen and (max-width: 1024px) {
  #buttons{
    margin-top: 600px;
    
  }
}
/* Le Loader */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #f5cf09;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}







